<div class="page-wrapper">
  <app-loader *ngIf="showLoader"></app-loader>
  <!-- Page Header -->
  <h1 class="main-head">DASHBOARD</h1>

  <!-- Input Fields - FromDate and ToDate  -->
  <form [formGroup]="dashboardDetailForm" autocomplete="off" #statform="ngForm">
    <div class="date-picker" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px"
      fxLayoutGap.xs="0">
      <div fxFlex="15%" fxLayoutGap="10px">
        <mat-form-field fxFlex="65%">
          <input matInput [max]="max" [matDatepicker]="picker1" placeholder="FROM DATE" formControlName="fromDate"
            (dateChange)="searchGraphDetails()">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="dashboardForm.fromDate.errors?.required">From Date is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="15%" fxLayoutGap="10px">
        <mat-form-field fxFlex="65%">
          <input matInput [min]="dashboardForm.fromDate.value" [max]="max" [matDatepicker]="picker2"
            placeholder="TO DATE" formControlName="toDate" (dateChange)="searchGraphDetails()">
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
  <!-- If data is not present display "No Data Found" wrapper -->
  <app-nodata *ngIf="noDataVisibility" [subTitle]=""></app-nodata>
  <!-- To show the Bar Graph -->
  <div class="seprator" *ngIf="chartShowHide"></div>
  <div id="" *ngIf="chartShowHide">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <div class=" border-bg ">
          <div id="files-transfered" class="disc-labels">
            <span>FILES TRANSFERRED</span>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <!-- Display Modal -->
  <app-model *ngIf="showModelMessage" [message]="modelData"></app-model>
</div>
