/* #chartformWrapper {
  padding: 20px 20px 20px 20px;
  border-radius: 3px;
  margin-bottom: 2px;
  position: relative;
  background: #e9ecf3;
}
.borderBG {
  border: 1px solid #eae8e8;
}
.discLabels {
  font-size: 16px;
  text-align: center;
}
.discLabels span {
  font-weight: bold;
}
.datePicker {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  border-radius: unset;
  font-size: 14px;
  font-family: sans-serif;
}
.seprator {
  border-top: 1px solid #c4c4c4;
  margin-bottom: 15px;
}
.chartNoData {
  margin-top: 130px;
  font-style: italic;
  font-size: large;
  color: #9c9c9c;
  text-align: center;
  height: 150px;
}
#filesTransfered {
  height: auto;
} */



.border-bg {
  border: 1px solid #eae8e8;
}
.disc-labels {
  font-size: 16px;
  text-align: center;
}
.disc-labels span {
  font-weight: bold;
}

.seprator {
  border-top: 1px solid #c4c4c4;
  margin-bottom: 15px;
}

#files-transfered {
  height: auto;
}
