<div class="offloadpage-wrapper">
  <app-loader *ngIf="showLoader"></app-loader>
  <!-- ManualOffload Form - InputFields are FileType,FlightNo.,FromDate,ToDate,DepartureTime  -->
  <form class="man-padding" [formGroup]="manualOffloadForm" autocomplete="off">
    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayout.xs="column" fxLayoutGap.lt-md="25px" fxLayoutGap="30px"
      fxLayoutGap.xs="0" fxLayoutAlign.gt-sm="start center">
      <div fxFlex="15%" fxLayoutGap="8px">
        <label for="example-text-input" fxFlex="nogrow" fxFlexAlign="center">FILE TYPE</label>
        <mat-form-field class="file-type">
          <mat-select class="panelSelect" disableOptionCentering formControlName="fileName"
            panelClass="offloadPanelClass" (selectionChange)="offloadChangeFun()">
            <mat-option value="ALL">ALL</mat-option>
            <mat-option value="BITE">BITE</mat-option>
            <mat-option value="AXINOM">AXINOM</mat-option>
            <mat-option value="ITU">ITU</mat-option>
            <mat-option value="SLOG">SYSLOG</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25%" fxLayoutGap="8px">
        <label for="example-text-input" fxFlex="nogrow" fxFlexAlign="center">FLIGHT NO</label>
        <mat-form-field fxFlex>
          <mat-select #flightNumControl disableOptionCentering formControlName="flightNo" multiple="true"
            (selectionChange)="offloadChangeFun()">
            <ngx-mat-select-search [formControl]="flightMultiFilterCtrl" [placeholderLabel]="'Find FlightNumber'"
              [noEntriesFoundLabel]="'No Entries Found'"></ngx-mat-select-search>
            <mat-checkbox class="mat-option flight-check-box" [disableRipple]="true" [checked]="isChecked()"
              (click)="$event.stopPropagation()" (change)="toggleSelection($event)">
              Select All
            </mat-checkbox>
            <mat-option *ngFor="let flight of filteredFlightList | async" [value]="flight">{{ flight }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxLayoutGap="8px">
        <mat-form-field fxFlex="50%">
          <input matInput [max]="max" [matDatepicker]="picker1" placeholder="FROM DATE" formControlName="fromDate"
            (dateChange)="dateChange()" />
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <input matInput [min]="manualForm.fromDate.value" [max]="max" [matDatepicker]="picker2"
            formControlName="toDate" placeholder="TO DATE" (dateChange)="dateChange()" />
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-hint align="start" class="error-message-block error-style" *ngIf="dateRange">Date range must be within 5
          days</mat-hint>
      </div>
      <div fxFlex="30%" fxLayoutGap="8px">
        <label for="example-text-input" fxFlex="nogrow" fxFlexAlign="center">DEPARTURE TIME</label>
        <mat-form-field fxFlex="60">
          <mat-select panelClass="offloadPanelClass" #deptTimeControl disableOptionCentering
            formControlName="departureTime" multiple (selectionChange)="offloadChangeFun()">
            <mat-option *ngFor="let depart of departureList" [value]="depart">{{
              depart
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Download and Cancel buttons  -->
    <div class="btn-div" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <button mat-raised-button class="btn" name="download" (click)="allDownload()" [disabled]="!tableShowHide">
        DOWNLOAD
      </button>
      <button mat-raised-button class="btn" (click)="cancelOffload()">
        CANCEL
      </button>
    </div>
  </form>
  <!-- Display day count for selected dates-->
  <div class="days-info-icon" *ngIf="hintShowHide">
    <mat-hint *ngIf="!dateRange" class="info-text" align="end">{{ this.tooltipDays }}
    </mat-hint>
  </div>
  <!-- Display 'No Data Found' wrapper -->
  <app-nodata *ngIf="noDataVisibility" [subTitle]=""></app-nodata>

  <!-- Render the offload table data as per selected input's  -->
  <div class="user-table" *ngIf="tableShowHide">
    <table mat-table [dataSource]="dataSource" matSort #offloadSort="matSort">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="sel-check-box">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="sel-check-box">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="startEventTime1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
        <td mat-cell *matCellDef="let element">{{ element.flightOpenTime }}</td>
      </ng-container>
      <ng-container matColumnDef="flightNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FLIGHT NO</th>
        <td mat-cell *matCellDef="let element">{{ element.flightNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EVENT TYPE</th>
        <td mat-cell *matCellDef="let element">{{ element.eventName }}</td>
      </ng-container>
      <ng-container matColumnDef="startEventTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          START EVENT TIME
        </th>
        <td mat-cell *matCellDef="let element">{{ element.startEventTime }}</td>
      </ng-container>
      <ng-container matColumnDef="endEventTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          END EVENT TIME
        </th>
        <td mat-cell *matCellDef="let element">{{ element.endEventTime }}</td>
      </ng-container>
      <ng-container matColumnDef="durationTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DURATION</th>
        <td mat-cell *matCellDef="let element">{{ element.durationTime }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="
              element.manualOffloadStatus != 'NO' &&
              element.manualOffloadStatus != null &&
              element.manualOffloadStatus != ''
            ">
            <div matTooltip="DOWNLOADED" [matTooltipPosition]="position.value" class="pass-icon"></div>
            <div matTooltip="DOWNLOAD AGAIN" [matTooltipPosition]="position.value" class="reseticon"
              (click)="singleDownload(element)"></div>
          </div>
          <div matTooltip="DATA NOT FOUND" [matTooltipPosition]="position.value"
            [ngClass]="{ failicon: element.manualOffloadStatus == 'NO' }" style="padding-left: 25px;"></div>
          <div matTooltip="DOWNLOAD" [matTooltipPosition]="position.value" [ngClass]="{
              reseticon:
                element.manualOffloadStatus == '' ||
                element.manualOffloadStatus == null
            }" style="padding-left: 25px;" (click)="singleDownload(element)"></div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <!--  Pagination -->
  <app-pagination *ngIf="totalPages > 0" [totalPages]="totalPages" [pageSize]="10"
    (onPageChange)="loadActivePageData($event)">
  </app-pagination>
  <app-model *ngIf="showModelMessage" [message]="modelData"></app-model>
</div>
