body,
html {
  height: 100%;
  margin: 0;
}
.offloadDetailTable,
.user-table {
  max-height: 300px;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.offloadDetailTable {
  margin-top: 20px;
}
.pickerForm {
  margin-top: 10px;
}
#formWrapper {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 20px 15px 40px;
  border-radius: 4px;
  margin-bottom: 7px;
  position: relative;
  display: block;
  overflow: auto;
}
/*Table column width */
td.mat-cell,
th.mat-header-cell {
  flex: 0 0 25% !important;
  min-width: 150px !important;
}

td.sel-check-box.mat-cell,
th.sel-check-box.mat-header-cell {
  flex: 0 0 25% !important;
  min-width: 0px !important;
}

table > thead > tr > th.mat-header-cell {
  border: 1px solid #8c8c8c;
  background-color: #72788a;
  color: #f5f5f5;
  font-weight: normal;
  white-space: nowrap;
}
table > tbody > tr > td.mat-cell {
  border: 1px solid #efefef;
}
table th.mat-header-cell {
  padding-top: 5px;
}
table td.mat-cell,
table th.mat-header-cell {
  padding-left: 0.75rem;
}
tr.mat-header-row {
  height: 28px !important;
}
table tbody tr:hover {
  outline: 1px double #5161ac;
  border: 1px solid #5161ac;
}
table th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
table th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  height: 27px;
  padding: 0px;
  margin-top: 0px;
}
.user {
  color: #07103b !important;
}
/* Styles - table row hover*/
#fixedCol {
  display: none;
}
tr:hover #fixedCol {
  display: block;
  position: absolute;
  right: 25px;
  background-color: #5161ac;
  word-break: break-word;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 2px;
  margin-top: -5px;
}
mat-dialog-actions {
  justify-content: center;
}
span:focus {
  outline: none !important;
}
.mat-drawer-content {
  background-color: transparent !important;
}
tbody:-webkit-scrollbar {
  background: #71818c66;
  border-radius: 11px;
  width: 13px;
  height: 13px;
}
tbody:-webkit-scrollbar-track {
  -webkit-border-radius: 11px;
  border-radius: 11px;
}
tbody:-webkit-scrollbar-thumb {
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #71818c66;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  width: 4px;
  height: 20px;
}

.mat-dialog-content {
  margin: 0px !important;
  text-align: center;
}
.form-control {
  width: 100px;
}

.file-type {
  width: 140px;
}
.man-padding {
  padding: 10px;
  font-size: 14px;
}

.mat-select {
  padding-left: 5px;
  font-size: 13px !important;
}
.error-style {
  display: inline-block;
  position: absolute;
  margin-top: 45px;
}
.info-text {
  margin-left: 18px;
  color: #55575c;
  font-family: sans-serif;
  font-style: italic;
  display: inline-block;
  width:100px;
}
.offloadpage-wrapper {
  padding: 10px 20px 20px 20px;
  margin: 0px 40px 20px 40px;
  background-color: #e9ecf3;
  position: relative;
}

