.stat-detail-table {
  margin-top: 15px;
  max-height: 400px;
  margin-bottom: 10px;
  overflow: auto;
}

tr.mat-header-row {
  height: 28px !important;
}

tbody:-webkit-scrollbar-thumb {
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #71818c66;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  width: 4px;
  height: 20px;
}
.error-style {
  display: inline-block;
  position: absolute;
  margin-top: 20px;
}
