<div class="page-wrapper ">
  <app-loader *ngIf="showLoader"></app-loader>
  <!-- Page Header -->
  <h1 class="main-head">STATISTICS</h1>

  <!-- Input Fields - FromDate and ToDate  -->
  <div #statisticsDetails>
    <form [formGroup]="statisticsDetailForm" autocomplete="off" #statform="ngForm">
      <div class="date-picker" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap.xs="0">
        <div fxFlex="15%" fxLayoutGap="10px">
          <mat-form-field fxFlex="65%">
            <input matInput [max]="max" [matDatepicker]="picker1" placeholder="FROM DATE" formControlName="fromDate"
              (dateChange)="searchGraphDetails()">
            <mat-datepicker-toggle matSuffix [for]="picker1">
              <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="StatisticsForm.fromDate.errors?.required">From Date is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="15%" fxLayoutGap="10px">
          <mat-form-field fxFlex="65%">
            <input matInput [min]="StatisticsForm.fromDate.value" [max]="max" [matDatepicker]="picker2"
              placeholder="TO DATE" formControlName="toDate" (dateChange)="searchGraphDetails()">
            <mat-datepicker-toggle matSuffix [for]="picker2">
              <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-hint align="start" class="error-message-block error-style" *ngIf="dateRange && !StatisticsForm.fromDate.errors">Date range must be within 5
          days</mat-hint>
      </div>
    </form>

    <!-- If data is not present display "No Data Found" wrapper -->
    <app-nodata *ngIf="noDataVisibility" [subTitle]=""></app-nodata>

    <!-- Render the Offload History Table Data as per selected input's  -->
    <div class="stat-detail-table" *ngIf="tableShowHide">
      <table mat-table [dataSource]="statdataSource" matSort #statDetailsSort="matSort">
        <ng-container matColumnDef="tarFilename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FILE NAME</th>
          <td mat-cell *matCellDef="let element"> {{element.tarFilename}} </td>
        </ng-container>
        <ng-container matColumnDef="tarFileDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE OF TRANSFER</th>
          <td mat-cell *matCellDef="let element"> {{element.tarFileDate}} </td>
        </ng-container>
        <ng-container matColumnDef="modeOfTransfer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>MODE OF TRANSFER</th>
          <td mat-cell *matCellDef="let element"> {{element.modeOfTransfer}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="fileDownloadCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DOWNLOADED COUNT</th>
          <td mat-cell *matCellDef="let element"> {{element.fileDownloadCount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>

    <!--  Pagination -->
    <app-pagination *ngIf="totalPages > 0" [totalPages]="totalPages" [pageSize]="10"
      (onPageChange)="loadActivePageData($event)">
    </app-pagination>
  </div>
  <!-- Display Modal -->
  <app-model *ngIf="showModelMessage" [message]="modelData"></app-model>
</div>
