<div class="offloadpage-wrapper">
  <app-loader *ngIf="showLoader"></app-loader>
  <form [formGroup]="offloadDetailForm" autocomplete="off" #detailform="ngForm">
    <div class="date-picker" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="30px"
      fxLayoutGap.xs="0">
      <div fxFlex="15%" fxLayoutGap="10px">
        <mat-form-field fxFlex="65%">
          <input matInput [max]="max" [matDatepicker]="picker1" placeholder="FROM DATE" formControlName="fromDate"
            (dateChange)="searchOffloadDetail()">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="offloadForm.fromDate.errors?.required">From Date is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="15%" fxLayoutGap="10px">
        <mat-form-field fxFlex="65%">
          <input matInput [min]="offloadForm.fromDate.value" [max]="max" [matDatepicker]="picker2" placeholder="TO DATE"
            formControlName="toDate" (dateChange)="searchOffloadDetail()">
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="offloadForm.toDate.errors?.required">To Date is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <!-- If data is not present display "No Data Found" wrapper -->
  <app-nodata *ngIf="noDataVisibilityDetails" [subTitle]=""></app-nodata>

  <!-- Render the Offload History Table Data as per selected input's  -->
  <div class="offload-detail-table" *ngIf="tableDetailShowHide">
    <table mat-table [dataSource]="offdataSource" matSort #offloadDetailsSort="matSort">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>USER NAME</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      <ng-container matColumnDef="dateOfFlight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE OF FLIGHT</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfFlight}} </td>
      </ng-container>
      <ng-container matColumnDef="flightNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FLIGHT NUMBER</th>
        <td mat-cell *matCellDef="let element"> {{element.flightNo}} </td>
      </ng-container>
      <ng-container matColumnDef="fileType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FILE TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.fileType}} </td>
      </ng-container>
      <ng-container matColumnDef="eventType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EVENT TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
      </ng-container>
      <ng-container matColumnDef="dateOfOffload">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DOWNLOAD DATE & TIME</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfOffload}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
      </tr>
    </table>
  </div>

  <!--  Pagination -->
  <app-pagination *ngIf="totalPagesHistory > 0" [totalPages]="totalPagesHistory" [pageSize]="10"
    (onPageChange)="loadActivePageData($event)">
  </app-pagination>
  <app-model *ngIf="showModelMessage" [message]="modelData"></app-model>
</div>
