.offloadpage-wrapper {
  padding: 10px 20px 20px 20px;
  margin: 0px 40px 20px 40px;
  background-color: #e9ecf3;
  position: relative;
}


.offload-detail-table{
  max-height: 300px;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.offload-detail-table {
  margin-top: 20px;
}
tr.mat-header-row {
  height: 28px !important;
}
