<header>
  <!--Navbar with Mainmenu -->
  <div style="margin: 0em 1.5em;">
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon float-left"></span>
      </button>
      <a id="logo-wrapper" (click)="routeToLandingPage()">
       
          <div style="font-size: 25px; color:#ffff; line-height: 20px">IN-FLIGHT</div>
          <div style="color: #e51937;font-weight: 700;font-size: 0.98em;">DATA TRANSFER</div>
        
      </a>
      <div id="main-menu" class="float-left">
        <ul class="navbar-nav" id="mainMenuBlock">
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
          </li>
          <li>
            <a routerLink="/offload" routerLinkActive="active">OFFLOAD</a>
          </li>
          <li>
            <a routerLink="/statistics" routerLinkActive="active">STATISTICS</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- UserInfo - userName,user-icon,Settings - LogoutButton -->
  <nav class="user-menu float-right">
    <ul>
      <li>
        <div class="user-details onclick-menu" placement="bottom" tabindex="0">
          <div class="user-icon"></div>
        </div>
      </li>
      <li style="margin-left: -5px;margin-right:-39px">
        <div class="user-details onclick-menu" placement="bottom" tabindex="0">
          <span style="font-size: 12px;" class="user-name ng-binding">{{userNameDetails | uppercase}}</span>
        </div>
      </li>
      <li style="margin-left: -3px;margin-right:19px">
        <div class="user-details onclick-menu onclick-menu-change" placement="bottom" tabindex="0">
          <div class="setting-icon" id="tooltip">
            <span class="tooltiptext">Settings</span>
          </div>
          <ul class="onclick-menu-content">

            <li (click)="logout()" accesskey="l">
              <a>Log Out</a>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </nav>
</header>
<!-- Session Expired Modal -->
<ng-template #sessionExpiredModal let-c="close" let-d="dismiss">
  <div class="failure-icon"></div>
  <p id="session-popup">Session Expired</p>
  <div class="model-dismiss" (click)="closeAndLogout()"></div>
</ng-template>
