@import "../../assets/helpers/css/_variables";

.navbar {
  padding: 0px 10px;
  height: 45px;
  width: 82%;
}

#logo-wrapper {
  padding: 19px 0px 2px 7px;
  cursor: pointer;
}

/*Main Menu*/
#main-menu li {
  padding-top: 16px;
  padding-bottom: 13px;
}

#main-menu li a.active {
  /* background:#fff; */
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-family: sans-serif;
}
#main-menu li:last-child a {
  border-right: 1px double #ad2650;
}
#main-menu a {
  border-left: 1px #ad2650 solid;
  color: #ff9bb4;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
#main-menu a:hover {
  color: #fff /* #6f7372 */;
  text-decoration: none;
}

/*User Menu*/
.user-menu {
  margin-top: -60px;
  height: 54px;
}
.user-menu ul {
  /* background : #0f193c; */
  margin-top: 7px;
  list-style-type: none;
  margin-left: -80px;
  padding: 0;
  height: 25px;
  z-index: 11000;
}
.user-menu li {
  float: left;
}
.user-menu li a {
  color: white;
  text-decoration: none;
}
.user-menu li div span {
  color: #ffffff;
}
.user-menu li div {
  color: #e51937;
}
.user-details {
  float: left;
  margin-right: 51px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-top: 23px;
  line-height: 13px;
}

.onclick-menu:before {
  content: "";
  width: 60px;
  height: 30px;
}
.onclick-menu:focus {
  pointer-events: none;
  outline: none;
}
.onclick-menu:focus .onclick-menu-content {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.onclick-menu-content {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
  width: 130px;
  height: 62px;
  top: 38px;
  border: 1px solid #ccc;
}
.onclick-menu-content li a {
  color: black;
  font-family: sans-serif;
  transition: visibility 0.5s;
  font-weight: normal;
}
.onclick-menu-content li a:hover {
  color: #161f3c;
}
.onclick-menu-content li:nth-child(odd) {
  background: #ffffff;
  width: 128px;
  padding: 6px;
}
.onclick-menu-content li:nth-child(even) {
  background: #eaeff2;
  width: 128px;
  padding: 6px;
  height: 24px;
}
.user-icon {
  background: url("../../assets/images/Delta_Sprite.png") -225px -93px;
  width: 27px;
  height: 37px;
  position: relative;
  display: inline-block;
  left: 25px;
  top: 0px;
}
.setting-icon {
  background: url("../../assets/images/Delta_Sprite.png") -446px -95px;
  width: 26px;
  height: 30px;
  position: relative;
  display: inline-block;
  left: 25px;
  top: 0px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .user-menu.float-right {
    display: none;
  }
  .user-menu {
    display: none;
  }
  .navbar-toggler {
    top: 10px;
  }

  .navbar {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

#tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid #0f193c;
}

#tooltip .tooltiptext {
  visibility: hidden;
  font-style: normal;
  font-family: inherit;
  background-color: #070606;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 112%;
  margin-top: 5px;
  border: 1px solid #434c6b;
  width: 54px;margin-left: -50px;
}

#htooltip {
  position: relative;
  display: inline-block;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

#htooltip:hover .htooltiptext {
  visibility: visible;
}
.user-name {
  position: relative;
  display: inline-block;
  left: 0px;
  top: 8px;
}
#mainMenuBlock{
  margin-left: 3em;background-color:#970b2e;
}
