<mat-tab-group #tabGroup id="main-tab">
  <mat-tab label="MANUAL">
    <ng-template matTabContent>
      <div class="offloadpage-wrapper" id="inner-tab">
        <ul>
          <li *ngFor="let item of offloadMenuList">
            <a mat-button routerLink="{{item.route}}" routerLinkActive="active" class="tabButton"
              [routerLinkActiveOptions]="{exact: true}">{{ item.displayText }}</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
