@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */

*{margin: 0;padding: 0;} /* global css reset for all browsers */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.modal-backdrop {background-image: url(../src/assets/images/popup-bg.png);opacity: 0.9 !important;}

body, html {height: 100%;background-color:#11182b;font-size:12px !important;width: 100%;margin: 0;font-family:sans-serif;}
#container,#container-fluid {height: 100%;}
/*default styles*/
/*-webkit-body{background:url("../src/assets/images/flight-doodle.png") left bottom 300px no-repeat;}*/
.cdk-global-scrollblock{overflow: hidden;}
table{ width: 100%;background-color:#fff; border-collapse: collapse;margin-bottom:0 !important;}
label{font-family:sans-serif;font-weight:bold;color:#3c3c3c;font-size:12px;margin-bottom: 1px;}
svg { position:absolute;width:100%;height:100%;z-index:10;background: transparent;}

.nav>li>a{padding: 10px 10px 8px 10px;position:relative;display: block;}

.page-wrapper{padding: 10px 20px 20px 20px;margin:50px 20px 20px 20px;background-color: #e9ecf3;position: relative;}
.float-left{float:left;}
.float-right{float:right;}
 ul {list-style-type: none;}
.error-message-block{color:red!important;font-size: 12px;}
.error-border{border:1px solid red !important;}

/*Heading styles*/
h1{font-size:17px;color:#11182b;margin-top:15px;margin-bottom:7px;}

/*button styles*/
#session-popup{color: #FFF;font-family:sans-serif;font-size: 23px;margin-bottom: 22px;width: 450px;margin-top: -48px;margin-left: 180px;}
.formbtn-login{color: #fff !important;text-shadow: none !important;font-size: 11px !important;background: #11182b !important;width: 110px;height: 22px !important;text-transform: uppercase;margin-right: 12px;margin-top: 5px;border: none;/* font-weight: bold; */padding: 5px;}
.alert-danger{background-color: #970b2e;border-color: #ebcccc;color: #11172b;margin-left: 90px;margin-top: 3px;position: fixed;}

/*table styles*/
.table>thead>tr>th {padding-top:7px;vertical-align: top;border:1px solid #e9ecf3;background-color: #e9ecf3;color: #970b2e;font-weight:normal;white-space: nowrap;}
table th:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;}
table th:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;}
table tbody>tr:nth-child(odd)>td {background-color: #e9ecf3;border-bottom: 1px solid #cbcfd2;box-shadow: 2px 2px 2px 1px #cbcfd2;}
table tbody>tr:nth-child(even)>td {background-color: #e9ecf3;border-bottom: 1px solid#cbcfd2;box-shadow: 2px 2px 2px 1px #cbcfd2;}
pre{background-color: #fff;border:none}




.failure-modal .modal-lg .modal-content{background-color:#970b2e !important;min-height: 90px;width:600px;border-radius:5px;margin:0 auto;margin-top:100px;margin-left: 90px;max-height: 700px; position: fixed;}
.failure-modal .modal-content .modal-body p{margin-left: -13px;margin-top: 0;}
.session-modal .modal-lg .modal-content{background-color:#970b2e !important;min-height: 90px;width:600px;border-radius:5px;margin:0 auto;margin-top:100px;margin-left: 90px;max-height: 700px; position: fixed;}
.session-modal .modal-lg .modal-content #session-popup{height: 65px;margin-top: -50px;
    margin-left: 128px;margin-bottom: 22px}

.failure-icon{background:url("../src/assets/images/Delta_Sprite.png") no-repeat -354px -290px;width: 33px;height: 33px;margin-right: 10px;margin-left: 45px;margin-top: 35px;float:left;}
.success-icon{background: url("../src/assets/images/Delta_Sprite.png") no-repeat -417px -285px;width: 41px;height: 40px;margin-right: 10px;margin-left: 65px;margin-top: 40px;float:left;}

.modal-sm .modal-header{background:#970b2e; padding: 5px !important; border-radius: 2px}
.modal-sm .modal-title{font-size: 15px;color: #fff;margin-left: 12px;}
.modal-lg .modal-title{font-size: 15px;color: #fff;margin-left: 12px;}
.modal-sm #saveRow{margin-right: 32px;margin-top: 10px;}

#modal_button_no{text-shadow: none !important; font-size: 15px !important; padding-left: 22px;padding-right: 22px;text-transform: uppercase;margin-left: 10px;border-radius: 4px;height: 35px;border: none;cursor:pointer;}

/*modal popup*/
.model-dismiss {background:url("../src/assets/images/Delta_Sprite.png")no-repeat -301px -296px;width: 25px;height: 25px;margin-top: -12px;position: absolute;cursor: pointer;right: 15px;background-color: #CD174D;border-radius: 4px;}
.modal-body {color: #FFF;font-size: 24px;font-family:sans-serif;word-break: break-word;margin-bottom: 20px;margin-left: 130px;margin-top: -50px;}


h1.main-head{margin-left:-2px;font-family: sans-serif;}
option {font-size: 13px;}
.pagination a{cursor:pointer;}
/*pagination*/
#pagination-wrapper {height: 31px;background-color: #E0E0E0;margin-top: 2px;border-radius:4px;}
.form-control-pagination{width: 70px !important;padding-left:11px;height: 22px !important;border-radius: 4px;background-color: #fff;word-break: break-word;}
.page-item.disabled .page-link{background-color: #E0E0E0;border:0 solid;}
.page-item .page-link {background-color: #E0E0E0;border:0 solid; margin-top: -1px;margin-left: 0;}
.page-item.active .page-link { color: #ffffff;text-decoration: underline;background-color: #970b2e; border-radius: 4px;z-index:0}
.page-item.active a:hover{color: #fff;text-decoration: underline;}
.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: transparent;
}
#inner-tab.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #970b2e!important;
}
.mat-sort-header-button{
    color: #970b2e!important;
}
.btn{background-color: #960b2e;border-radius: 4px;color: #fff;font-size: 12px;}
.btn:hover{color:#fff !important;}
.viewBtn{background-color: #960b2e;border-radius: 4px;color: #fff;font-size: 12px;width: 39px;height: 20px;text-align: center;border: 1px solid transparent; padding: 1px 1px 1px 1px;margin-left: 32px;}
.mat-calendar-body-selected{
    background-color: #3f51b5;
    color: #fff;
}
#main-tab{
margin: 50px 20px 0;}

#main-tab .mat-tab-label
{
    background-color:#c2c6cf !important;
    min-width: 89px !important;
    margin-left: 32px;
    margin-right: -32px;
    padding: 2px;
    opacity: 1.6!important;
    height: 25px!important;
    color: #333232;
    font-size: 12px;
    text-align: center;
}
#main-tab .mat-tab-label-active {
    background-color: #970b2e!important;
    color:#ffff;
    font-weight: bold !important;
}

#inner-tab .mat-tab-label
{
        background-color:#e9ecf3 !important;
        min-width: 89px !important;
        margin-top: -10px;
        margin-left: -9px;
        margin-right: 13px;
        padding: 2px;
        opacity: 1.6!important;
        height: 37px!important;
        color:#3c3c3c;
        font-size: 12px;
}

#inner-tab .tabButton{
  font-size: 12px;
  color:#333232
}
#inner-tab .active {
    color: #970b2e!important;
}
#inner-tab a.active {
    border-bottom: 2px solid #970b2e;
  }
  #inner-tab a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 1px solid transparent;
  }
button.mat-icon-button:focus{
    border:none;
    outline:none
}

.date-picker {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    border-radius: unset;
    font-size: 14px;
    font-family: sans-serif;
  }
.pass-icon{background: url('../src/assets/images/Delta_Sprite.png') no-repeat -373px -150px;width: 15px;height: 14px;display:inline-block;}

.failicon{background: url('../src/assets/images/Delta_Sprite.png')no-repeat -561px -149px;width: 15px;height: 14px;margin-left: 15px;}

.reseticon{background: url('../src/assets/images/Delta_Sprite.png') no-repeat -270px -230px;width: 17px;height: 16px;cursor: pointer;margin-left: 12px;display:inline-block;}

.flight-check-box .mat-checkbox-layout span.mat-checkbox-label{font-size:15px !important;}
.cdk-overlay-pane-select-search.cdk-overlay-pane-select-search-with-offset {
    margin-top: 25px !important;
    margin-left: 43px;
}
.cdk-overlay-container .cdk-overlay-pane .offloadPanelClass{margin-top: 24px;}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate .panelSelect{ background:#970b2e;}
.mat-pseudo-checkbox.mat-option-pseudo-checkbox.mat-pseudo-checkbox.ng-star-inserted {width: 15px;height: 15px;}
.flight-Check-Box.mat-checkbox-checked.mat-accent .mat-checkbox-background{ background-color: #970b2e !important;}
.btn-div{margin-top: 30px;}
.days-info-icon{background: url('../src/assets/images/Delta_Sprite.png')no-repeat -471px -150px;width: 13px;height: 13px;margin-left: 10px;}
.sel-check-box .mat-checkbox-inner-container{width: 15px ;height: 15px;}
.flight-Check-Box .mat-checkbox-inner-container{width: 15px ;height: 15px;}
.mat-tab-header{border-bottom: none !important}
.mat-select-search-input,.mat-select-search-no-entries-found{padding: 10px !important;}
.mat-select-search-clear{top:0px !important}
.mat-pseudo-checkbox-checked::after { top: 2px!important; left: 0px!important;width: 11px!important; }
.mat-select-placeholder{color:#970b2e !important;}
.cdk-overlay-container .cdk-overlay-pane .resetPanelClass{margin-top: 32px;width:50px;margin-left:-22px;}
.mat-select-panel .mat-option {height:30px !important;}
.mat-dialog-title{text-align: center;}
.mat-expansion-panel-body {padding: 30px !important; background: #ffff !important;}
.mat-expansion-panel {background: #c7c9d3!important;color: rgba(0,0,0,.87);}
.disable .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled{background: grey;}
.mat-form-field-label-wrapper{font-size: 15px; }
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background { background-color: #960b2e !important;}
