.login-wrapper {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.details-style {
  color: #969aa6;
}
.tel-icon {
  background: url("../../assets/images/Delta_Sprite.png") -330px -43px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 5px -5px 0px;
}
.help-desk-icon {
  background: url("../../assets/images/Delta_Sprite.png") -370px -42px;
  width: 25px;
  height: 20px;
  display: inline-block;
  margin: 0px 5px -3px 0px;
}
.login-content-para {
  color: #848482;
  text-align: justify;
}
.login-content-para span {
  font-size: 18px;
  font-weight: bold;
}
.login-ifdt-logo {
  font-family: sans-serif;
  font-size: 32px;
  color: #0f193a;
  line-height: 25px;
  margin-top: 20px;
}
.login-ifdt-logo span {
  font-family: sans-serif;
  font-size: 25px;
}
.login-ifdt-logo .ran {
    font-size: 56px;
    color: #fff;
    font-family:sans-serif;
}
.login-ifdt-logo .commision {
    font-size: 20px;
    color: #d61834;
    font-family: sans-serif;
}
.content-bg {
  background: url("../../assets/images/Delta_Sprite.png") -602px -17px no-repeat;
  height: 400px;
}
.loginpage {
    width: 327px;
    padding-left: 16%;
}
.login-bg {
  background: url("../../assets/images/login-bg.jpg") center no-repeat;
  height: 700px !important;
}
.user-name {
  background: url("../../assets/images/Delta_Sprite.png") -290px -41px;
  width: 15px;
  height: 25px;
  margin-left: 18px;
  border-bottom: 1px solid #968585;
}
.password {
  background: url("../../assets/images/Delta_Sprite.png") -258px -41px;
  width: 15px;
  height: 25px;
  margin-left: 18px;
  border-bottom: 1px solid #ffffff;
}
#username {
  padding: 0 0.75rem;
  color: #fff;
  width: 250px;
  border-bottom: 1px solid #968585;
}
#password {
  padding: 0 0.75rem;
  color: #fff;
  width: 250px;
}
#username:focus {
  outline: none;
}
#password:focus {
  outline: none;
}
.creds {
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}
.frm-control {
  display: block;
  width: 92%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #464a4c;
  background-image: none;
  background-clip: padding-box;
  height: 25px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #970b2e;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  border-top: none;
}
.btn-block {
  display: block;
  padding-top: 4px;
  padding-bottom: 2px;
}
#login-btn {
  font-size: 18px !important;
  margin-top: 38px;
  margin-left: 112px;
  height: 35px !important;
  background-color: #970b2e;
}
.arrow-icon {
  background: url("../../assets/images/Delta_Sprite.png") -431px -41px;
  width: 17px;
  height: 19px;
  display: inline-block;
}
.text-padding {
  padding-top: 100px;
}
.cpy-padding {
  padding-top: 140px;
}
.page-padding {
  padding: 2%;
}
.error-login {
  color: #11172b;
  display: inline-block;
  position: absolute;
  margin-top: 24px;
  margin-left: -30px;
}
.center {
  align-self: center;
}
