<div class="login-wrapper page-padding">
  <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
    <div fxFlex.gt-lg="35%" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <!--  Display HelpDesk,Email Address and Tel.Number Info -->
      <div class="details-style" fxLayout="row" fxLayoutGap="25px">
        <div>
          <div class="tel-icon"></div>
          <span>18001236645</span>
        </div>
        <div>
          <div class="help-desk-icon"></div>
          <span>helpdesk@delta.com</span>
        </div>
      </div>
      <!-- Tool Description -->
      <div fxLayout="column" fxLayoutAlign="center center" class="text-padding">
        <div fxLayout="row" fxLayoutAlign="center center" class="content-bg">
          <div class="loginpage">
            <p class="login-ifdt-logo">
              <span class="ran">IN-FLIGHT</span>
              <br />
              <span class="commision">DATA TRANSFER</span>
            </p>
            <p class="login-content-para">
              IN-FLIGHT DATA TRANSFER Tool performs collection and transfer of
              data from the IFE Server to the Cloud deployed Ground Analytics
              Server through a secured connection.
            </p>
            <p class="login-content-para">
              This displays the Statistics of the data offloaded based on the
              various conditions inside the aircraft and provides the manual
              offload of data as well.
            </p>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div fxLayout="row" fxLayoutAlign="space-evenly end" class="cpy-padding">
        <div class="details-style">
          <span>COPYRIGHT &copy;2019 DELTA &nbsp;<strong class="divider">|</strong>
            &nbsp; ALL RIGHTS RESERVED</span>
        </div>
      </div>
    </div>

    <!--Login Form - InputFields are Username,Password -->

    <div fxFlex.gt-lg="35%" fxFlex="50%" fxLayoutAlign="center center" alt="Responsive image" class="login-bg"
      fxFlexFill>
      <form role="form" class="lognForm" (ngSubmit)="login.form.valid && authenticate()" #login="ngForm"
        name="loginForm">
        <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 50px;">
          <label for="inputEmail3" class="creds" style="color:#968585">USERNAME</label>
          <div fxLayout="row">
            <span class="user-name"></span>
            <input autocomplete="off" [(ngModel)]="auth.username" name="username" id="username"
              placeholder="Enter User Name" autocomplete="off" #username="ngModel" required type="text"
              class="frm-control" disabled style="color:#968585" />
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <label for="inputPassword3" class="creds">PASSWORD</label>
          <div fxLayout="row">
            <span class="password"></span>
            <input autocomplete="off" type="password" [(ngModel)]="auth.password" value="" name="password" id="password"
              placeholder="Password" required #password="ngModel" class=" frm-control" />
          </div>
          <div *ngIf="login.submitted && !password.valid" class="error-login">
            Password is required
          </div>
        </div>
        <div *ngIf="invalidUser && password.valid" fxLayout="row" fxLayoutAlign="center center" class="alert-danger">
          Invalid Password
        </div>
        <div class="form-group row">
          <div class="form-group " alt="Icons">
            <button type="submit" id="login-btn" class="btn formbtn-login btn-block btn-lg ">
              LOGIN
              <span class="arrow-icon"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
