<div id="pagination-wrapper">
  <div class="float-left page" style="padding-top: 0px;margin-left:20px;">
    <div class="float-left" style="width: 75px;padding-top: 6px">Show</div>
    <select [disabled]="paginationDisabbled" (change)="onChangeTableRowLength($event)"
      style="margin-top: 4px; margin-right: 6px;margin-left: -39px;" class="form-control-pagination float-left"
      aria-controls="TableRowLength" size="1" name="TableRowLength" id="TableRowLength">
      <option selected="selected" value="10">10</option>
      <option value="20" [disabled]="totalPages < 2">20</option>
      <option value="50" [disabled]="totalPages < 5">50</option>
      <option value="100" [disabled]="totalPages < 10">100</option>
    </select>
    <div class="float-left" style="width: 75px;padding-top: 6px">Entries</div>
  </div>
  <div class="float-right page" style="padding-top: 3px;margin-right:20px;">
    <ul class="pagination float-right">
      <li id="firstPage" [ngClass]="{disabled:(activePage === 1 || paginationDisabbled)}" class="page-item">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li id="previousPage" [ngClass]="{disabled:(activePage === 1 || paginationDisabbled)}" class="page-item">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Prev</a>
      </li>
      <li *ngFor="let n of pager.pages" [ngClass]="{active:activePage === n, disabled:paginationDisabbled}"
        class="page-item">
        <a class="page-link" (click)="setPage(n)" id='{{n+1}}'>{{n}}</a>
      </li>
      <li id="nextPage" [ngClass]="{disabled:(activePage === totalPages || paginationDisabbled)}" class="page-item">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li id="lastPage" [ngClass]="{disabled:(activePage === totalPages || paginationDisabbled)}" class="page-item">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
