#footer-wrapper {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  background: #11182b;
}
#footer {
  width: 90%;
  margin: -3px auto;
}
#footer span {
  margin-left: 2px;
  color: #fff;
}
