<!-- To show the Copyright Icon at footer of page -->
<div id="footer-wrapper">
  <div id="footer" style="font-size: 11px;float: right;text-align: right;margin-right: 5em;">
    <div>
      Copyright &copy; 2019 DELTA<span style="border-left: 1px solid #960b2e;margin-left: 10px;padding-left: 10px;">All
        Rights Reserved.
      </span>
    </div>
  </div>
</div>
